@page
@model MoneyPlus.Pages.Subcategories.EditModel

@{
    ViewData["Title"] = "Edit Subcategories";
}

<h1 class="display-5">@ViewData["Title"]</h1>
<br/>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Subcategory.Id" />
            <div class="form-group">
                <label asp-for="Subcategory.Name" class="control-label"></label>
                <input asp-for="Subcategory.Name" class="form-control" />
                <span asp-validation-for="Subcategory.Name" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Subcategory.CategoryId" class="control-label"></label>
                <select asp-for="Subcategory.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Subcategory.CategoryId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> | <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
