@page
@model MoneyPlus.Pages.Transfers.EditModel

@{
    ViewData["Title"] = "Edit Release";
}

<h1 class="display-5">@ViewData["Title"]</h1>
<br/>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Transfer.Id" />
            <div class="form-group">
                <label asp-for="Transfer.Date" class="control-label"></label>
                <input asp-for="Transfer.Date" class="form-control" />
                <span asp-validation-for="Transfer.Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Transfer.Amount" class="control-label"></label>
                <input asp-for="Transfer.Amount" class="form-control" />
                <span asp-validation-for="Transfer.Amount" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Transfer.TypingId" class="control-label"></label>
                <select asp-for="Transfer.TypingId" class="form-control" asp-items="ViewBag.TypingId"></select>
                <span asp-validation-for="Transfer.TypingId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Transfer.AccountId" class="control-label"></label>
                <select asp-for="Transfer.AccountId" class="form-control" asp-items="ViewBag.AccountId"></select>
                <span asp-validation-for="Transfer.AccountId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Transfer.SubcategoryId" class="control-label"></label>
                <select asp-for="Transfer.SubcategoryId" class="form-control" asp-items="ViewBag.SubcategoryId"></select>
                <span asp-validation-for="Transfer.SubcategoryId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Transfer.PayeeId" class="control-label"></label>
                <select asp-for="Transfer.PayeeId" class="form-control" asp-items="ViewBag.PayeeId"></select>
                <span asp-validation-for="Transfer.PayeeId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Transfer.ActiveId" class="control-label"></label>
                <select asp-for="Transfer.ActiveId" class="form-control" asp-items="ViewBag.ActiveId"></select>
                <span asp-validation-for="Transfer.ActiveId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |  <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        @* <script type="text/javascript" >
            $(document).ready(function () {
                $('.money').mask('000.000.000.000.000,00', { reverse: true });

            });
        </script>*@
}
