@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <style>
        body {
            background-image: url('pictures/biblioteca.jpg');
            background-color: blueviolet;           
            background-repeat: no-repeat;
            background-position: center 0;
            background-size: cover;
            color:white;
        }
    </style>
</head>

<body class="bg-gradient">
    <div class="text-center">
        <h1 class="display-2" >Welcome to Money Plus !!!</h1>
        <br />
        <br />        
        <h5 class="display-6 ">To access your account please login or if you still registered click register and enjoy a more organized financial life...</h5>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />        
         <h6 class="font-monospace">
            -> The financial aspect is a cornerstone of any person, and it is extremely important to gain the situation 
            in which we find ourselves to decide the right way forward. As well as a GPS, it is not enough to know 
            where we want to go, because the path is different, even if the destination is the same. (by Sérgio Maria)
        </h6>
    </div>
</body>
